@for $i from 1 through 10
  $multiplier: $i * 50
  .height-#{$multiplier}
    height: #{$multiplier}px
    +touch
      height: #{$multiplier * 0.5}px

@for $i from 1 through 10
  $multiplier: $i * 20
  .pad-#{$multiplier}
    padding-top: #{$multiplier}px
    padding-bottom: #{$multiplier}px
  .pad-top-#{$multiplier}
    padding-top: #{$multiplier}px
  .pad-right-#{$multiplier}
    padding-right: #{$multiplier}px
  .pad-left-#{$multiplier}
    padding-left: #{$multiplier}px
  .pad-btm-#{$multiplier}
    padding-bottom: #{$multiplier}px
  .mrg-#{$multiplier}
    margin-top: #{$multiplier}px
    margin-bottom: #{$multiplier}px
  .mrg-top-#{$multiplier}
    margin-top: #{$multiplier}px
  .mrg-btm-#{$multiplier}
    margin-bottom: #{$multiplier}px
  +touch
    .pad-#{$multiplier}
      padding-top: #{$multiplier/2}px
      padding-bottom: #{$multiplier/2}px
    .pad-top-#{$multiplier}
      padding-top: #{$multiplier/2}px
    .pad-right-#{$multiplier}
      padding-right: #{$multiplier/2}px
    .pad-left-#{$multiplier}
      padding-left: #{$multiplier/2}px
    .pad-btm-#{$multiplier}
      padding-bottom: #{$multiplier/2}px
    .mrg-#{$multiplier}
      margin-top: #{$multiplier/2}px
      margin-bottom: #{$multiplier/2}px
    .mrg-top-#{$multiplier}
      margin-top: #{$multiplier/2}px
    .mrg-btm-#{$multiplier}
      margin-bottom: #{$multiplier/2}px

.is-light
  color: $c-white
  input[type=email], input[type=password], input[type=text], select, ::placeholder
    background: none
    border-color: $c-white
    color: $c-white

.narrow-container
  max-width: 860px
  margin: 0 auto

.very-narrow-container
  max-width: 500px
  margin: 0 auto

.visibly-hidden
  position: absolute
  overflow: hidden
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0

.icon-fallback-text
  .fallback-text
    @extend .visibly-hidden

.error
  color: $c-red

.success
  color: $c-green

.no-mrg-top
  margin-top: 0
.no-mrg-btm
  margin-bottom: 0
.no-mrg-left
  margin-left: 0
.no-mrg-right
  margin-right: 0
