=input
  +control
  background-color: $input-background
  border: 1px solid $input-border
  line-height: 1
  color: $input
  padding: 1em
  font-size: $size-9
  &:hover,
  &.is-hovered
    border-color: $input-hover-border
  &:focus,
  &.is-focused,
  &:active,
  &.is-active
    border-color: $input-focus-border
  &[disabled],
  &.is-disabled
    background-color: $input-disabled-background
    border-color: $input-disabled-border
    box-shadow: none
    color: $input-disabled
    +placeholder
      color: rgba($input, 0.3)

.input,
input[type=email],
input[type=password],
input[type=text],
input[type=number],
textarea
  +input
  box-shadow: none
  max-width: 100%
  width: 100%
  border-radius: 0
  &[type="search"]
    border-radius: 0
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      border-color: $color
  // Sizes
  &.is-small
    +control-small
  &.is-medium
    +control-medium
  &.is-large
    +control-large
  // Modifiers
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto

textarea
  display: block
  max-height: 600px
  max-width: 100%
  min-height: 120px
  min-width: 100%
  resize: vertical

input[type=checkbox],
input[type=radio]
  align-items: center
  cursor: pointer
  display: inline-flex
  flex-wrap: wrap
  justify-content: flex-start
  position: relative
  vertical-align: top
  input
    cursor: pointer
    margin-right: 0.5em
  &:hover
    color: $input-hover
  &.is-disabled
    color: $input-disabled
    pointer-events: none
    input
      pointer-events: none

input[type=radio]
  & + input[type=radio]
    margin-left: 0.5em

.select, .selector-wrapper
  display: inline-block
  position: relative
  width: 100%
  vertical-align: top
  height: auto
  &:after
    +arrow($input-arrow)
    margin-top: auto
    margin-bottom: auto
    right: 1.125em
    top: 0
    bottom: 0
    z-index: 4
  select
    +input
    width: 100%
    cursor: pointer
    display: block
    outline: none
    padding-right: 2.5em
    text-transform: uppercase
    &:hover
      border-color: $input-hover-border
    &::ms-expand
      display: none
  // States
  &:hover
    &:after
      border-color: $input-hover
  // Sizes
  &.is-small
    +control-small
  &.is-medium
    +control-medium
  &.is-large
    +control-large
  // Modifiers
  &.is-fullwidth
    width: 100%
    select
      width: 100%

label, .label
  color: $input
  display: block
  font-weight: 400
  &:not(:last-child)
    margin-bottom: 0.5em

.help
  display: block
  font-size: $size-small
  margin-top: 5px
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      color: $color

button, input.button, input[type=submit], input[type=submit].button
  +control
  background: $c-black
  border: 1px solid $c-black
  color: $c-white
  &:hover
    opacity: 0.8

.is-light
  input, textarea, button, select
    color: $c-black
    background: $c-white
    border-color: $c-black
    &:hover,
    &.is-hovered
      border-color: $c-black
    &:focus,
    &.is-focused,
    &:active,
    &.is-active
      border-color: $c-black
    &[disabled],
    &.is-disabled
      color: $input-disabled

.is-dark
  input, textarea, button, select
    color: $c-white
    background: $c-black
    border-color: $c-white
    &:hover,
    &.is-hovered
      border-color: $c-white
    &:focus,
    &.is-focused,
    &:active,
    &.is-active
      border-color: $c-white
    &[disabled],
    &.is-disabled
      color: $c-white

.form-input-margins
  input, textarea, button, select
    margin-bottom: 1rem

.errors
  ul
    list-style: disc outside
    margin-left: 20px

.form-success
  color: $c-green

.form-error, .errors
  color: $c-red

.success, .error
  display: none

label
  text-transform: uppercase
