.hero
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  &.for-slider
    height: 100vh
    max-height: 630px
    +mobile
      height: 260px
  &.for-home-takeover
    +trans
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 900
    opacity: 0
    visibility: hidden
    .button
      background: none
    &.is-active
      opacity: 1
      visibility: visible
  &.is-offscreen
    transform: translateY(-100%)
