header.the-header
  .container
    .the-header-head
      .nav
        .nav-left
          button.mobile-menu-toggle.is-hidden-tablet
            i.i-icon.navicon.is-32
        .nav-center
          :nf(inline) {% include 'header-logo' %}
        .nav-right
          .is-hidden-tablet
            .level
              .level-item.is-hidden-mobile
                button.search-toggle
                  i.i-icon.search
              .level-item
                :nf(inline) {% include 'menu-cart-link' %}
          .is-hidden-mobile
            .the-header-menu-extras.has-text-right
              .is-block
                button.search-toggle
                  i.i-icon.search
                  | Search
              .is-block
                .is-inline-block
                  :nf(inline) {% include 'menu-account' %}
                .is-inline-block
                  :nf(inline) {% include 'menu-cart-link' %}
  .the-header-body
    nav.the-header-menu(role="navigation")
      :nf(inline) {% include 'menu-walker' %}
      :nf(inline) {% include 'mobile-menu-extras' %}
