.accordion

[data-accordion]
  > [data-control]
    &:hover
      cursor: pointer
    &:after
      background-image: url(plus.svg)
  &.open
    > [data-control]:after
      background-image: url(minus.svg)
      transform: none
