/**
 * Shopify Configurable Styles
 * These are styles tied up with Shopify theme configs.
 * Please refrain from changing the code here directly.
 * Any custom code should be added to the _custom.scss.liquid file.
 */

{% unless settings.font_heading == blank %}
body {
  font-family: "{{ settings.font_body}}";
}
{% endunless %}

{% unless settings.font_body == blank %}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .grid-product, .button, button, input, select, textarea, .the-header, .the-footer, form, label, .label {
  font-family: "{{ settings.font_heading }}";
}
{% endunless %}
